body {
  margin: 0;
  padding: 2px;
  font-family: "Arial Black", Gadget, sans-serif;
  width: 320px;
}

/********************************************************************
* NAVIGATION
*********************************************************************/
.nav {
  background: #0A4F75;
  padding: 5px 10px;
  color: #fff;
  font-weight: 200;
  font-size: 16px;
}

.nav div {
  display: inline-block;
  vertical-align: middle;
}

.nav-description {
  margin-left: 5px;
  letter-spacing: 1px;
}

.nav-timer {
  float: right;
  margin-top: 12px;
}

/********************************************************************
* CONTAINER
*********************************************************************/
.container {
  margin-bottom: 5px;
  padding: 10px;
  min-height: 120px;
  border: 1px solid #ccc;
  border-top: 0;
  color: #444;
}

.input-label {
  display: block;
  padding: 12px 0;
}

.input-label .input-text {
  font-size: 15px;
}

.input-label select {
  float: right;
  width: 125px;
  color: #444;
  background: #fff;
  padding: 5px;
  border: 1px solid #bbb;
}

/********************************************************************
* FOOTER
*********************************************************************/
.btn {
  width: 100%;
  height: 40px;
  cursor: pointer;
  background: #fff;
  border: 1px solid #ccc;
  color: #333;
}

.btn:hover {
  background: #f1f1f1;
  border: 1px solid #aaa;
}
